<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <a class="btn btn-primary" href="/addMedication">return to add Medications </a>
    </div> 
    <div class="row justify-content-center mt-5">

         <!-- Update -->
    <form id="updateForm" action="" method="POST">
      <input type="text" name="name" id="updateName" placeholder="Medication name" required>
      <button>Search Item</button>
  </form>
</div>  
    </div>
  </div>  
<%- include('partials/footer') -%>